$mainColor : #ffffff;
$fontColor : #000000;
$fontPurple : #5449c2;
$dot : #00dae4;
$mainColor2 : #eef0fa;
$navbarColor : #342a92;
$contactBackground : #231c60;
$buttonYellow :#ffdf77;
$fontGray : #717171;
$fontFooter : #9592b3;