.section--about-us {
    height: 625px;
    min-height: 625px;
    background-color: $mainColor2;
    width: 100%;
    justify-content: start;

    & .section__title {
        margin-bottom: 50px;
        margin-top: 60px;
    }
}


.team-player {
    width: 260px;
    height: 220px;
    position: relative;
    margin: 0 10px;

    &:first-of-type {
        margin-left: 0px;
    }

    &:last-of-type {
        margin-right: 0px;
    }

    &__dot {
        width: 24px;
        height: 24px;
        background-color: $dot;
        position: absolute;
        bottom: -5px;
        border-radius: 12px;
        left: calc(50% - 12px);

        &:hover+.team-player__position {
            display: flex;
        }
    }

    &__name {
        font-size: 24px;
        margin-top: 10px;
    }

    &__position {
        margin-top: 10px;
        position: absolute;
        bottom: 35px;
        width: 100%;
        display: none;
        margin: 0 auto;
        justify-content: center;

        &-content {
            font-size: 18px;
            padding: 10px 20px;
            text-align: center;
            background: black;
            opacity: 0.85;
            color: white;
            border-radius: 10px;
        }
    }

    &__arrow {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid black;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
    }

    &__img {

        & img {
            border-radius: 25px;
        }
    }


}