.section {
    &__title {

        font-family: 'Yrsa-Medium';

        width: 100%;

        & h2 {
            font-size: 36px;
        }

        & p {
            font-size: 22px;
            color: $fontPurple;
        }
    }

}